{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {% for post in posts %}
        <div style="display: flex; justify-content: space-around;">
           <div style="color: white; background-color: #0f172a; border-radius: 10px; border: 1px solid black; padding: 10px;>
               {{post.title}}
               {{ post.contenu|raw}}
               <img style=" src="{{ vich_uploader_asset(post) }}" alt="{{ post.image }}">

            <button><a href="">View more</a></button>
           </div>
        </div>a

    {% endfor %}
{% endblock %}

